<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uk.ac.bradford.findmymigraine" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AttackActivity"
            android:label="@string/title_activity_attack"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="uk.ac.bradford.findmymigraine.MainActivity" />
        </activity>
        <activity
            android:name=".DailyActivity"
            android:label="@string/title_activity_daily"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="uk.ac.bradford.findmymigraine.MainActivity" />
        </activity>
        <activity
            android:name=".ReviewActivity"
            android:label="@string/title_activity_review"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="uk.ac.bradford.findmymigraine.MainActivity" />
        </activity>
        <activity
            android:name=".SleepActivity"
            android:label="@string/title_activity_sleep"
            android:parentActivityName=".DailyActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="uk.ac.bradford.findmymigraine.DailyActivity" />
        </activity>

        <receiver android:name=".SleepReceiver" >
            <intent-filter>
                <action android:name="uk.ac.bradford.findmymigraine.SleepReceiver" >
                </action>
            </intent-filter>
        </receiver>

        <activity
            android:name=".SleepEntryReport"
            android:label="@string/title_activity_sleep_entry_report"
            android:parentActivityName=".SleepActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="uk.ac.bradford.findmymigraine.SleepActivity" />
        </activity>
        <activity
            android:name=".ExerciseActivity"
            android:label="@string/title_activity_exercise" >
        </activity>
        <activity
            android:name=".FoodDrinkActivity"
            android:parentActivityName=".DailyActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="uk.ac.bradford.findmymigraine.DailyActivity" />
        </activity>
        <activity
            android:name=".TravelActivity"
            android:label="@string/title_activity_travel"
            android:parentActivityName=".DailyActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="uk.ac.bradford.findmymigraine.DailyActivity" />
        </activity>
        <activity
            android:name=".MoodActivity"
            android:label="@string/title_activity_mood"
            android:parentActivityName=".DailyActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="uk.ac.bradford.findmymigraine.DailyActivity" />
        </activity>
        <activity
            android:name=".WhenActivity"
            android:label="@string/title_activity_when"
            android:parentActivityName=".AttackActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="uk.ac.bradford.findmymigraine.AttackActivity" />
        </activity>
        <activity
            android:name=".IntensityActivity"
            android:label="@string/title_activity_intensity"
            android:parentActivityName=".AttackActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="uk.ac.bradford.findmymigraine.AttackActivity" />
        </activity>
        <activity
            android:name=".ActivityCoping"
            android:label="@string/title_activity_coping"
            android:parentActivityName=".AttackActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="uk.ac.bradford.findmymigraine.AttackActivity" />
        </activity>
        <activity
            android:name=".CausesActivity"
            android:label="@string/title_activity_causes"
            android:parentActivityName=".AttackActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="uk.ac.bradford.findmymigraine.AttackActivity" />
        </activity>

    </application>

</manifest>
