<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uk.ac.bradford.findmymigraine" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AttackActivity"
            android:label="@string/title_activity_attack"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="uk.ac.bradford.findmymigraine.MainActivity" />
        </activity>
        <activity
            android:name=".DailyActivity"
            android:label="@string/title_activity_daily"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="uk.ac.bradford.findmymigraine.MainActivity" />
        </activity>
        <activity
            android:name=".ReviewActivity"
            android:label="Review Diary"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="uk.ac.bradford.findmymigraine.MainActivity" />
        </activity>
        <activity
            android:name=".SleepActivity"
            android:label="Daily Diary"
             >

        </activity>

        <receiver android:name=".SleepReceiver" >
            <intent-filter>
                <action android:name="uk.ac.bradford.findmymigraine.SleepReceiver" >
                </action>
            </intent-filter>
        </receiver>

        <activity
            android:name=".SleepEntryReport"
            android:label="@string/title_activity_sleep_entry_report"
            android:parentActivityName=".SleepActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="uk.ac.bradford.findmymigraine.SleepActivity" />
        </activity>
        <activity
            android:name=".ExerciseActivity"
            android:label="Add exercise record" >
        </activity>
        <activity
            android:name=".FoodDrinkActivity"

            android:label="Food and Drink">

        </activity>
        <activity
            android:name=".TravelActivity"
            android:label="Add travel record"
             >

        </activity>
        <activity
            android:name=".MoodActivity"
            android:label="Mood Record"
             >

        </activity>
        <activity
            android:name=".WhenActivity"
            android:label="@string/title_activity_when"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="uk.ac.bradford.findmymigraine.MainActivity" />
        </activity>
        <activity
            android:name=".IntensityActivity"
            android:label="Location of Pain"
             >

        </activity>
        <activity
            android:name=".ActivityCoping"
            android:label="@string/title_activity_coping"
             >

        </activity>
        <activity
            android:name=".CausesActivity"
            android:label="What might have caused it?"
             >

        </activity>
        <activity
            android:name=".MenstrualCycleActivity"
            android:label="@string/title_activity_menstrual_cycle" >
        </activity>
        <activity
            android:name=".ReviewAttacks"
            android:label="Migraine Attacks"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="uk.ac.bradford.findmymigraine.MainActivity" />
        </activity>
        <activity
            android:name=".ReviewAttackRecord"
            android:label="Migraine Attack Record"
            android:parentActivityName=".ReviewAttacks" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="uk.ac.bradford.findmymigraine.ReviewAttacks" />
        </activity>
        <activity
            android:name=".UserInfoActivity"
            android:label="User Information"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="uk.ac.bradford.findmymigraine.MainActivity" />
        </activity>
        <activity
            android:name=".WorkActivity"
            android:label="Add Work Record" >
        </activity>
    </application>

</manifest>
